@font-face {
  font-family: reformedEllar;
  src: url("Fonts/Reformed Ellar.ttf");
}
body {
  background-color: grey;
  font-family: reformedEllar;
  margin: 0;
}
header {
  margin: 0;
  padding: 0;
  background-color: darkgrey;
  height: 250px;
  position: relative;
  width: 100%;
}
a {
  text-decoration: none;
}
#logo {
  margin: 50px;
}
.navbar {
  bottom: 0;
  position: absolute;
  padding: 0;
  background-color: gainsboro;
  font-family: reformedEllar;
  font-size: 250%;
  text-align: center;
  width: 100%;
  overflow: hidden;
  border-top: 3px solid grey;
  border-bottom: 3px solid darkgrey;
  height: 32px;
}
.navlist {
  list-style: none;
  margin: auto;
  overflow: hidden;
}
.navlist .selected {
  background-color: grey;
}
.navlist li {
  float: left;
  padding-left: 16px;
  padding-right: 16px;
  display: block;
  margin: 0;
  position: relative;
  height: 100%
}
.navlist li:hover {
  background-color: darkgrey;
}
.navlist a {
  margin: 0;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.navlist li ul {
  float: right;
  padding: 0;
  margin: 0;
  display: none;
}
.navlist li:hover ul, .navlist li:active ul {
  display: block;
  padding-left: 16px;
}
#outputBox {
  margin: 1em;
  border: 3px solid darkgrey;
  min-height: 35%;
  font-family: reformedEllar;
  font-size: 250%;
  padding: 5px;
  background-color: lightgrey;
}
#outputBox p {
  margin: 0;
  padding: 0;
}
#outputBox ul {
  list-style: none;
  font-family: reformedEllar;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: reformedEllar;
  text-align: center;
  font-size: 150%;
  padding: 0;
  width: 75%;
  margin: auto;
}
