body {
  background-color: MediumPurple;
}
@font-face {
  font-family: custom;
  src: url("../../Fonts/Reformed Ellar.ttf");
}
#roomDisplay {
  background-color: Indigo;
  border-color: black;
}
#roomNameDisplay {
  font-family: custom;
  color: Gainsboro;
}
#imageDisplay {

}
#audio p {
  font: 3em custom;
  color: Gainsboro;
}
#outputBox {
  background-color: lightgrey;
  border-color: black;
  font-family: custom;
}
#inputBackground {
  background-color: Indigo;
  border-color: black;
}
#inputBox {
  border-color: black;
  font-family: custom;
}
footer {
  font-family: custom;
}
