body {
  background-color: FireBrick;
}
@font-face {
  font-family: custom;
  src: url("../../Fonts/Reformed Ellar.ttf");
}
@keyframes emphasizeName {
    0%   {color: grey;}
    50%  {color: black;}
    100% {color: grey;}
}
#roomDisplay {
  background-color: DarkRed;
  border-color: Maroon;
}
#roomNameDisplay {
  font-family: custom;
  color: grey;
}
#imageDisplay {

}
#audio p {
  font: 3em custom;
  color: black;
}
#outputBox {
  background-color: lightgrey;
  border-color: dimgrey;
  color: black;
  font-family: custom;
}
#inputBackground {
  background-color: DarkRed;
  border-color: Maroon;
}
#inputBox {
  background-color: ghostwhite;
  border-color: dimgrey;
  color: black;
  font-family: custom;
}
footer {
  color: black;
  font-family: custom;
}
