body {

}
@font-face {
  font-family: reformedEllar;
  src: url("Fonts/Reformed Ellar.ttf");
}
#roomDisplay {
  border: 3px solid;
  margin: auto;
  max-width: 50%;
  font-family: reformedEllar;
  font-size: 200%;
}
#roomNameDisplay {
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: reformedEllar;
  font-size: 200%;
}
#imageDisplay {
  display: block;
  margin: auto;
  width: 50%;
  height: 40%;
  min-width: 95%;
  min-height: 40%;
}
#audio {
  position:absolute;
}
#audio p {
  cursor: default;
  position: relative;
  font: 3em reformedEllar;
  bottom: 1em;
}
#audio img {
  position: relative;
  vertical-align: text-bottom;
}
#outputBox {
  border: 3px solid;
  height: 35%;
  font-family: reformedEllar;
  font-size: 250%;
  overflow-y: scroll;
  padding: 5px;
  text-indent: 1em;
}
#inputBackground {
  position: relative;
  height: 4em;
  border: 3px solid;
}
#inputBox {
  margin: auto;
  height: 1em;
  top: 0; right: 0; bottom: 0; left: 0;
  position: absolute;
  width: 94%;
  border: 3px solid;
  box-sizing: border-box;
  font-family: reformedEllar;
  font-size: 250%;
  outline: none;
}
footer {
  font-family: reformedEllar;
  text-align: center;
  font-size: 2em;
}
