body {

}
@keyframes emphasizeName {
    0%   {color: black;}
    50%  {color: grey;}
    100% {color: black;}
}
@font-face {
  font-family: reformedEllar;
  src: url("Fonts/Reformed Ellar.ttf");
}
#roomDisplay {
  border: 3px solid;
  margin: auto;
  max-width: 700px;
  font-family: reformedEllar;
  font-size: 200%;
}
#roomNameDisplay {
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: reformedEllar;
  font-size: 200%;
}
.emphasizeName {
  animation-name: emphasizeName;
  animation-duration: 0.5s;
}
#imageDisplay {
  display: block;
  margin: auto;
  width: 90%;
  height: 30%;
}
#audio {
  position:absolute;
}
#audio p {
  cursor: default;
  position: relative;
  font: 3em reformedEllar;
  bottom: 1.5em;
  margin-left: 0.5em;
}
#audio img {
  position: relative;
  vertical-align: text-bottom;
}
#outputBox {
  width: 98%;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid;
  height: 35%;
  font-family: reformedEllar;
  font-size: 250%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-indent: 1em;
}
#outputBox p {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 0.3em;

}
#inputBackground {
  position: relative;
  height: 4em;
  border: 3px solid;
}
#inputBox {
  margin: auto;
  height: 1em;
  top: 0; right: 0; bottom: 0; left: 0;
  position: absolute;
  width: 94%;
  border: 3px solid;
  box-sizing: border-box;
  font-family: reformedEllar;
  font-size: 250%;
  outline: none;
  text-indent: 3px;
}
footer {
  font-family: reformedEllar;
  text-align: center;
  font-size: 2em;
  position: relative;
  bottom: 0;
}
